#first {
    position: fixed;
    left: 180px;
    top: 60px;
    height: 400px;
    width: 400px;
}

div.divs {
    border-radius: 50%;
}


#first div:nth-child(even){
    background-color: white;
}

#first div:nth-child(odd){
    background-color: red;
}

#first div:nth-child(n){
    position: absolute;
    border: solid black 2px;
}
#first div:nth-child(2){
    height: 90%;
    width: 90%;
    top:5%;
    left:5%;
}
#first div:nth-child(3){
    height: 80%;
    width: 80%;
    top:10%;
    left:10%;
}
#first div:nth-child(4){
    height: 70%;
    width: 70%;
    top:15%;
    left:15%;
}
#first div:nth-child(5){
    height: 60%;
    width: 60%;
    top:20%;
    left:20%;
}
#first div:nth-child(6){
    height: 50%;
    width: 50%;
    top:25%;
    left:25%;
}
#first div:nth-child(7){
    height: 40%;
    width: 40%;
    top:30%;
    left:30%;
}
img{
    position: fixed;
    width: 100%;
    left:0;
    bottom: 0;
}